<%- include('partials/layout/headerTop') %>
<link rel="stylesheet" href="css/style.css">
<%- include('partials/layout/headerBottom') %>

<div class="layout-content relative-parent">
	<div class="absolute-centered login-signup-form-container">
		<form action="/signup" method="post">
			<h1>Signup</h1>
			<div class="form-rules">
				<p>The following rules must be followed:</p>
				<ul>
					<li>Username must be longer than 6 characters</li>
					<li>The secret key must be an exact match and is required to post</li>
					<li>Passwords must contain at least one of the following characters: !@#$%^&*()-_+=</li>
					<li>Passwords must match</li>
				</ul>
			</div>
			<div class="input-group">
				<label for="signup_name">Username:</label>
				<input type="text" name="signup_name" required autofocus value="<%=values.signup_name%>">
			</div>
			<div class="input-group">
				<label for="signup_secret_key">Secret:</label>
				<input type="password" name="signup_secret_key" required value="<%=values.signup_secret_key%>">
			</div>
			<div class="input-group">
				<label for="signup_email">Email Address:</label>
				<input type="email" name="signup_email" required value="<%=values.signup_email%>">
			</div>
			<div class="input-group">
				<label for="signup_password">Password:</label>
				<input type="password" name="signup_password" required value="<%=values.signup_password%>">
			</div>
			<div class="input-group">
				<label for="signup_password_confirm">Confirm Password:</label>
				<input type="password" name="signup_password_confirm" required value="<%=values.signup_password_confirm%>">
			</div>
			<button type="submit" id="signup_submit_button">Signup</button>
			<% if(failureMessages !== undefined){ %>
				<p>There were the following issues with attempting to sign in:</p>
				<ul>
					<% for(const prop in failureMessages){ %>
						<% for(const message of failureMessages[prop]){ %>
							<li><%=message%></li>
						<% } %>
					<% } %>
					</ul>
			<% } %>
		</form>
	</div>
</div>

<script src="javascript/login_signup.js"></script>

<%- include('partials/layout/footer') %>